/* Style the tab 

#4e8ebc   Background body --- Azul escuro
#83b0d0   Azul claro --- Background conteudo
#FEFFFD   Branco
#458dc1   Background botoes --- Azul escuro
*/

* {
  margin: 0;
  padding: 0;
  border: none;
  font-style: none;
}

body {
  background-color: #4e8ebc;
}

.cabecalho {
  padding: 3% 20% 1% 20%;
}

.cabecalho__titulo {
  color: #FEFFFD;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 2px solid #FEFFFD;
}

.principal {
  padding: 3% 20% 3% 20%;
  display: flex;
  flex-direction: column;
  width: device-width;
}

.principal__conteudo {
  padding: 1% 1% 1% 1%;
  background-color: #83b0d0;
  border-radius: 15px;
}

.tab {
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
  background-color: inherit;
  width: 100%;
  text-decoration: none;
}

/* Estilo dos botão dentro da tab "menu principal" */
.tablinks {
  background-color: #83b0d0;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  padding: 0.3em 2em;
  transition: 0.3s;
  width: 22em;
  font-size: 17px;
  color: #FEFFFD;
  opacity: 0.0-1;
}

/* Cor do botão hover */
.tab button:hover {
  background-color: #666666;
}

/* Cor do botão ativo */
.tab button.active {
  background-color: #458dc1;
  
}

/* Style the tab content */
.tabcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
  border: none;
  border-top: none;
  text-align: center;
}

.texto__cronometro {
  text-align: center;
  font-size: 5em;
  color: #FEFFFD;
  opacity: 0-2;
}

.apresentacao__links__botao {
  background-color: #FEFFFD;
  width: 25%;
  padding: 0.5em 0;
  text-align: center;
  border-radius: 12px;
  font-size: 2rem;
  text-decoration: none;
  color: #458dc1;
}