/* Estilos da index // Cores usadas

#4e8ebc   Background body --- Azul escuro
#83b0d0   Azul claro --- Background conteudo
#FEFFFD   Branco
#458dc1   Background botoes --- Azul escuro
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-style: none;
}

body {
    background-color: #4e8ebc;
}
  
.cabecalho {
    padding: 3% 20% 1% 20%;
}
  
.cabecalho__titulo {
    display: flex;
    align-items: center;
    color: #FEFFFD;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 2px solid #FEFFFD;
    font-family: 'Roboto', sans-serif;
}

.imagembotao__titulo {  
    padding-right: 10px;
    max-width:4%;
    max-height:4%;
    min-height:4%; 
    min-width:4%;
}

.principal {
    padding: 4px;
    background-color: #83b0d0;
    border-radius: 15px;
    margin: 3% 20% 3% 20%;
}


.container {
    min-height: 300px;
    padding: 5px;
}

.conteudos {
    border: 2px solid #4e8ebc;
}

.abas {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    flex-grow: 1;
    background-color: #83b0d0;
    width: 100%;
    text-decoration: none;
    padding-bottom: 20px;
}

.abas button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83b0d0;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    flex-grow: 1;
    min-width: 15%;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
    padding: 3px;
    transition: all .5s;
    font-family: 'Roboto', sans-serif;
}

.abas button:hover {
    background-color: #666666;
}

.conteudos {
    /*  era o antigo delimitador do tamanho da caixa, 
    mas o conteudo ficava pra fora usando ele  
    min-height: 300px;
    padding: 10px;

    */
}

.form {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form input {
    padding: 10px;
    border: 2px solid orange;
}

.form button {
    padding: 10px;
    background-color: orange;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
}

.hide {
    display: none;
}

.abas .ativa {
    background-color: #4e8ebc;
    color: white;
}

.texto__cronometro {
    text-align: center;
    font-size: 5em;
    color: #FEFFFD;
    opacity: 0-2;
    border-bottom: 2px solid white;
    font-family: 'Roboto', sans-serif;
}

.form a {
    padding: 10px;
}
  
.apresentacao__links__botao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEFFFD;
    min-width: 35%;
    max-width: 40%;
    padding: 0.5em 0;
    text-align: center;
    border-radius: 12px;
    font-size: 2rem;
    text-decoration: none;
    color: #458dc1;
    font-family: 'Roboto', sans-serif;
}

.imagembotao {  
    padding-right: 10px;
    max-width:8%;
    max-height:8%;
    min-height:8%; 
    min-width:8%;
}