/* Estilos da index // Cores usadas

#4e8ebc   Background body --- Azul escuro
#FEFFFD   Branco
#458dc1   Background botoes --- Azul escuro

Fonts
font-family: 'Roboto', sans-serif;
font-family: 'Varela Round', sans-serif;

---------- COMO APLICAR MUDANÇA DE COR -----------

:root {
--color: #118bee;
--hover-brightness: 1.2;
}

a {
    color: var(--color);
}

a:active {
    filter: brightness(var(--hover-brightness));
}

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-style: none;
}

:root {
    --azul: #34539A;
    --roxo: #7A3B69;
    --verde: #2A7F62;
    --branco: #FEFFFD;
    --hover-brightness: 1.3;
    --hover-darkness: 0.8;
}


body {
    background-color: var(--azul);
    height: 100vh;
    transition: all .5s;
}

.azul {
    background-color: var(--azul);
    height: 100vh;
    transition: all .5s;
}

.roxo {
    background-color: var(--roxo);
    height: 100vh;
    transition: all .5s;
}

.verde {
    background-color: var(--verde);
    height: 100vh;
    transition: all .5s;
}
  
.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2em 0 0 0;
    max-width: 600px;
    align-content: center;
    border-bottom: 2px solid #FEFFFD;
}
  
.cabecalho__titulo {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    color: #FEFFFD;
    text-align: left;
    padding-bottom: 10px;
    font-family: 'Varela Round', sans-serif;
}

.imagembotao__titulo {  
    width: 35px;
    height: 35px;
    padding-right: 10px;
}

.cabecalho__botao {
    background-color: white;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 7px;
}

.cabecalho__botao__conteudo {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 5px;
    padding: 5px;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

.principal {
    margin: 1em auto;
    padding: 4px;
    background-color: inherit;
    filter: brightness(var(--hover-brightness));
    border-radius: 12px;
    max-width: 500px;
}


.container {
    min-height: 300px;
    padding: 5px;
}

.conteudos {
    border: 2px solid inherit;
}

.abas {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    flex-grow: 1;
    background-color: inherit;
    filter: brightness(var(--hover-brightness));
    width: 100%;
    text-decoration: none;
}

.abas button {
    display: flex;
    justify-content: center;
    gap: 7px;
    min-width: 150px;   
    background-color: inherit;
    filter: brightness(var(--hover-darkness));
    border-radius: 7px;
    color: #FEFFFD;
    cursor: pointer;
    font-size: 1em;
    padding: 5px;
    transition: all .5s;
    font-family: 'ArialRounded', sans-serif;
}

.abas button:hover {
    background: none rgba(0, 0, 0, 0.15);
    filter: brightness(0.8);
}

.form {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hide {
    display: none;
}

.abas .ativa {
    filter:brightness(var(--hover-darkness));
    background-color: inherit;
    font-size: 1.1em;
    background: none rgba(0, 0, 0, 0.15);
}

.texto__cronometro {
    padding-top: 25px;
    text-align: center;
    font-size: 5em;
    color: #FEFFFD;
    border-bottom: 2px solid white;
    font-family: 'Varela Round', sans-serif;
}

.form a {
    padding: 10px;
}
  
.apresentacao__links__botao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #FEFFFD;
    color: black;
    width: 200px;
    height: 60px;
    padding: 0.5em 0;
    text-align: center;
    border-radius: 8px;
    font-size: 2.5em;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    box-shadow: rgb(157, 157, 157) 0px 6px 0px
}

.imagembotao {  
    width: 18px;
    padding-right: 6px;
}
