@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root {
    --color-style1: #364363;
    --color-style2: #7A3B69;
    --color-style3: #325c31;
    --branco: #FEFFFD;
    --cinza: #333333;

    --hover-brightness: 1.3;
    --hover-darkness: 0.8;

    --margin-default: 0 15% 0 15%;
    --font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: var(--color-style1);
    font-family: var(--font-family);
    transition: all .5s;
}

.style1 {
    background-color: var(--color-style1);
}

.style2 {
    background-color: var(--color-style2);
}

.style3 {
    background-color: var(--color-style3);
}

.container__cabecalho {
    width: 600px;
    margin: 2rem auto 0.5rem auto;
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 0.5rem;
}
  
.cabecalho__titulo {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 2rem;
    color: var(--branco);
}

.cabecalho__botao {
    background-color: var(--branco);
    background: rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 0.5rem;
}

.cabecalho__botao__conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    font-size: 1.2em;
    text-decoration: none;
    color: white;
}

.main {
    background-color: inherit;
}

.principal {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin: 2rem auto 2rem auto;
    width: 500px;
    background-color: inherit;
}

.container {
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
    background-color: inherit;
    filter: brightness(var(--hover-brightness));
}

.abas {
    display: flex;
    justify-content: space-evenly;
    gap: 0.9rem;

    min-height: 35px;
    width: 100%;

    background-color: inherit;
}

.abas button {
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 7px;

    min-width: 150px;
    padding: 0.3rem;
    font-size: 1.1em;
    font-weight: 200;

    background-color: inherit;
    color: #FEFFFD;

    border-radius: 7px;
    cursor: pointer;

    border: 2px solid rgba(0, 0, 0, 0.15);
}

.abas button:hover {
    background: none rgba(0, 0, 0, 0.08);
    transition: .5s;
}

.abas .ativa {
    filter:brightness(var(--hover-darkness));
    background-color: rgba(0, 0, 0, 0.15); 
    box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.15);
    transition: all .5s;
}

.form {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

.hide {
    display: none;
}

.texto__cronometro {
    padding: 40px 0 20px 0;
    text-align: center;
    font-size: 7em;
    color: var(--branco);
    border-bottom: 2px solid var(--branco);
}

.botao__cronometro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: var(--branco);
    color: var(--cinza);

    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: 'Varela Round', sans-serif;
    border-radius: 8px;
    box-shadow: rgb(157, 157, 157) 0px 6px 0px
}
  
.botao__play {
    font-size: 2.5em;
    line-height: 3.5rem; 
    padding: 1rem;
}

.botao__pause {
    font-size: 1.5em;
    padding: 0.5rem;
}

.botao__reset {
    font-size: 1.5em;
    padding: 0.5rem;

}

.botao__cronometro:active {
    box-shadow: none;
    transform: translateY(6px);
    transition: 0.1s;
}

.container__botoes {
    display: flex;
    gap: 10px;
}

.container__botoes__menores {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* --- div to-do list --- */
.container__todolist {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    border-radius: 12px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
    background-color: inherit;
    filter: brightness(var(--hover-brightness));
    padding: 10px;
}

.todolist__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 100%;
    color: var(--branco);
    font-size: 2rem;
    
    padding: 10px;
    border: none;
    background-color: inherit;
    cursor: pointer;

    border-radius: 8px;
    border: 3px solid rgba(0, 0, 0, 0.15);
}

.accordion-ativo, .todolist__accordion:hover {
    background-color: inherit;
}
  
.todolist__accordion {
    display: none;
    overflow: hidden;
    width: 100%;
    background-color: inherit;
    border-radius: 8px;
    font-size: 1.2rem;
}

.conteudo {
    display: flex;
    align-items: flex-start;
    gap: 2em;
}

.todolist__principal {
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.adicionar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.campo__nome {
    box-sizing: border-box;
    width: 100%;
    padding: 0.2em 0.5em;
    color: var(--branco);
    border-radius: 7px;
    border: 3px solid rgba(0, 0, 0, 0.15);
    outline: none;
    font-size: 1.2rem;
    background-color: inherit;
    filter: var(--hover-darkness);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BBBBBB;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #BBBBBB;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #BBBBBB;
  }

.cadastrar {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--branco);
    font-size: 1.2rem;
    
    padding: 2px 10px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    height: 100%;

    border-radius: 8px;
    border: 3px solid rgba(0, 0, 0, 0.15);
}

.lista {
    padding: 0;
}

.li-displayflex {
    display: flex;
    gap: 10px;
    align-items: center;

    font-size: 1.5rem;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    list-style: none;

    color: var(--branco);
    background: inherit;
    margin: 1rem 0 0 0;
    width: 100%;
    box-sizing: border-box;
    gap: 1em;
    font-size: 20px;
}

.item div {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1.5rem;
}

.item strong {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    Background: #C5965F;
    font-weight: 400;
}

.item button {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--branco);
    font-size: 1.2rem;
    
    padding: 2px 10px;
    border: none;
    background-color: inherit;
    cursor: pointer;

    border-radius: 8px;
    border: 3px solid rgba(0, 0, 0, 0.15);
}



/* --- começo da div conteudo de texto --- */
.container__textos {
    background-color: var(--branco);
    color: var(--cinza);
}

.conteudo__textos {
    padding: 0 0 3rem 0;
    margin: var(--margin-default);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.8rem;
}

.titulo__textos {
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem 0;
    margin: var(--margin-default);
}

.texto__textos {
    font-size: 1.5rem;
    text-align: justify;
}

.subtitulo_textos {
    font-size: 2.5rem;
    text-align: center;
    padding: 0.5rem 0;
}

.lista__textos {
    list-style-type: upper-roman;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.8rem;
    padding-left: 2rem;
    font-size: 1.5rem;
}

/* --- css do rodape --- */
.rodape {
    width: 100%;
    background-color: inherit;
    padding: 1rem 0;
}

.direitos__autorais {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    color: var(--branco);
}

.direitos__autorais:hover {
    text-shadow: #8E2424 -3px 0, rgb(106, 211, 211) 3px 0;
}
